
body {
    background-color: #d4e3e4}

.title{
    color: #e813a8
    font-family: 'Roboto', sans-serif;
}
   
#my-image {
    height: 200px;
    width: 300px
    
}
img {
    border-radius: 50%;
}
#forest-image {
    height: 200px;
    width: 100px;

}
p { 
    color: #12272b
}